<% layout('./layouts/boilerplate') %>
<%- include('./partials/header') %>
<main class="main-content">
    <div class="search-filter">
        <form class="search-form" action="/search">
            <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            <input type="text" class="search-input" name="query" placeholder="Search for a country...">
        </form>
        <form action="/region">
            <select class="filter" name="filter" id="filter" aria-label="region filter" onchange="this.form.submit()">
                <option value="" hidden>Filter by Region</option>
                <option value="africa">Africa</option>
                <option value="americas">America</option>
                <option value="asia">Asia</option>
                <option value="europe">Europe</option>
                <option value="oceania">Oceania</option>
            </select>
        </form>
    </div>
    <div class="cards-container">
        <% for(let country of countries) { %>
            <a class="card-link" href="/<%= country.alpha3Code %>">
                <div class="country-card">
                    <img class="card-flag" src=<%= country.flag %> alt="The flag of <%= country.name %>">
                    <div class="card-text">
                        <h2 class="card-country"><%= country.name.length > 40 ? country.nativeName : country.name %></h2>
                        <p class="card-detail"><span class="card-detail-name">Population:</span> <%= country.population.toLocaleString() %></p>
                        <p class="card-detail"><span class="card-detail-name">Region:</span> <%= country.region %></p>
                        <p class="card-detail"><span class="card-detail-name">Capital:</span> <%= country.capital %>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
</main>